body {
    background-color: #042940;
    color: #D6D58E;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #9FC131;
    text-align: center;
}

.search-container, .result-container {
    text-align: center;
    margin: 20px 0;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #9FC131;
    border-radius: 5px;
}

textarea {
    padding: 5px;
    border: 1px solid #9FC131;
    border-radius: 5px;
}

button {
    background-color: #9FC131;
    color: #042940;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#highlighted-text span.highlight {
    background-color: #DBF227;
    padding: 2px;
    border-radius: 2px;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #9FC131;
}
