body {
    background-color: #042940;
    color: #D6D58E;
    font-family: Arial, sans-serif;
}

h1 {
    color: #9FC131;
    text-align: center;
}

.input-container {
    text-align: center;
    margin: 20px 0;
}

input[type="text"], input[type="number"] {
    padding: 5px;
    border: 1px solid #9FC131;
    border-radius: 5px;
}

button {
    background-color: #9FC131;
    color: #042940;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    color: #042940;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #9FC131;
}
