*{
    margin: 0px;
    padding: 0px;
}

.menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menuTitle{
    margin: 25px;

}